# Node / Astro
node_modules/
dist/
.astro/
public/search-index.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
node_modules
dist
# pnpm store cache
.pnpm-store/

# Netlify / env secrets
.env.netlify
.netlify/
